  
  <ul class="controls">
    <li class="cabinet" title="choose multiple images using a file dialog">
      <input id="files-upload" class="file" type="file" multiple />
      <label>classic upload</label>
    </li>
    <li id="reset" title="cleans up the spritesheet">reset</li>
    <li id="save" title="export the spritesheet to a PNG file">save</li>
  </ul>
  <span class="caption selected" id="canvas-caption">your spritesheet</span>
  <span class="caption" id="info-caption">some info</span>

  <div id="info" class="info block">
    <h3>Some stuff you should know</h3>
    <ul>
      <li>The created image is in PNG format, but due to technical limitations, Oozi can not name it for you nor set the extension</li>
      <li>The image is transparent and preserves sprites' transparency</li>
      <li>No uploading of images happens, nor is there any server-side processing, this is all done using the HTML5 File API</li>
    </ul>
    <h3>Known Issues</h3>
    <ul>
      <li>There's no support for Opera, IE, or Safari &lt; 6, as they do not support the HTML5 File API yet</li>
    </ul>
    <hr />
    <p>Oozi is an open-source tool, you can view and fork the code at its <a href="https://github.com/amireh/Oozi">github</a> repository.</p>
    <hr />
    <p>If you're not sure how to use CSS spritesheets, or you don't know why you should, please check <a href="http://css-tricks.com/css-sprites/">this resource</a> as it seems to cover it nicely.</p>
  </div>

  <div class="container block" id="dropbox">
    <span id="overlay" class="drop-over-me">drop some images here</span>
    <canvas class="canvas" name="myCanvas" width="600" height="480">
     <p>Sorry! Oozi requires a canvas-aware web browser, such as Firefox, Google Chrome, Safari or Opera.</p>
    </canvas>
  </div>

  <span class="caption selected" id="cssbox-caption">the css code</span>	
  <div id="myCSSBox" class="block css-box">
    <p><label>.null {</label><br /><span>foo: bar;</span><br /> }</p>
  </div>

<% content_for :scripts do %>

  <script src='javascripts/base64.js' type='text/javascript'></script> 
  <script src='javascripts/canvas2image.js' type='text/javascript'></script> 
  <script src='javascripts/si.files.js' type='text/javascript'></script> 
  
  <script src='javascripts/oozi/oozi.js' type='text/javascript'></script>   
  <script src='javascripts/oozi/sprite.js' type='text/javascript'></script>   
  <script src='javascripts/oozi/grid.js' type='text/javascript'></script>     
  <script src='javascripts/oozi/ui.js' type='text/javascript'></script>  
<% end %>
