body {
	background: #fff url(images/bg.png) repeat-x;
	color: #454545;
	padding: 100px 0 0 0;
	font: 400 13px/18px "Helvetica Neue", "Liberation Sans", "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, FreeSans, sans-serif !important;
}

a {
	color: #00aff0;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
}
.header {
	width: 640px;
	float: left;
	position: absolute;
	height: 220px;
	top: 0;
	left: 0;
}

.header .logo {
	background: url(images/oozi.png) no-repeat;
	width: 201px;
	height: 166px;
	float: left;
	position: absolute;
	left: 10px;
	top: 10px;
}

.header h1 {
	position: relative;
	left: 310px;
	top: 20px;
}

.header h1 span {
	font-size: 14px;
	font-style: italic;
}
.footer {
	margin-top: 20px;	
	font-size: 11px;
	position: relative;
}

.footer p {
	position: relative;
	top: 0;
	left: 220px;
	float: left;
	margin: 0;
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.wrapper {
	width: 100%;
	float: left;
	clear: both;
	display: block;
}
.block {
	border: 0px solid #AEE239;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	background: #fff;
	-webkit-box-shadow: #454545 0 0 30px 1px;
	-moz-box-shadow: #454545 0 0 30px 1px;
	
	background: #ffffff; /* old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* ie */
}

.container,
.info {
	width: 600px;
	height: 480px;
	float: left;
	min-height: 480px;
	position: relative;
	overflow: auto;
	padding: 20px;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
}
.info {
	padding: 0 20px;
	height: 520px;
}
.container.over {
	opacity: 0.5;
}
.canvas {
	float: left;
	/*border: 1px solid red;*/
}

.css-box {
	float: left;
	margin-left: 10px;
	width: 270px;
	min-height: 40px;
	padding: 0 20px;
	font-size: 13px;
	max-height: 520px;
	overflow: auto;
}

.css-box span {
	margin-left: 10px;
}

.css-box p label {
	font-weight: bold;
}


span.drop-over-me {
	position: absolute;
	left: 152px;
	font-size: 32px;
	top: 250px;
}

.manual-upload,
.controls {
	float: left;
}

.controls {
	list-style-type: none;
	padding: 0;
	width: 640px;
	margin: 10px 0 8px 0;
}
.controls li {
	float: right;
	margin-left: 10px;
	padding: 0 10px 2px 10px;
	z-index: 100;
	position: relative;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	
	font-weight: bold;
	-webkit-box-shadow: #454545 0 0 2px 1px;
	-moz-box-shadow: #454545 0 0 2px 1px;
	background: #FDDC00; /* old browsers */
	background: -moz-linear-gradient(top, #FDDC00 0%, #F7C100 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDDC00), color-stop(100%,#F7C100)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDDC00', endColorstr='#F7C100',GradientType=0 ); /* ie */
	
}

.controls li:hover {
	background: #FDDC00;
	cursor: pointer;
}

.caption {
	background: #fff;
	z-index: 0;
	font-size: 12px;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;	
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	
	margin-bottom: 0;
	position: absolute;
	float: left;
	padding: 5px 10px;
	top: 10px;
}

.caption.selected,
.caption:hover {
	z-index: 100;
	padding: 10px;
	top: 0;
	cursor: pointer;
}
#canvas-caption {
	left: 0;
}
#info-caption {
	left: 120px;
}
#cssbox-caption {
	right: 0px;
}

.SI-FILES-STYLIZED li.cabinet
{
    width: 87px;
    height: 18px;
    display: block;
    overflow: hidden;
    cursor: pointer;
		position: relative;
}

li.cabinet label {
	position: absolute;
	left: 10px;
	top: 0;
	z-index: 0;
}
li.cabinet label:hover {
	cursor: pointer;
}
.SI-FILES-STYLIZED li.cabinet input.file
{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		z-index: 100;
		cursor: pointer;
}

.SI-FILES-STYLIZED li.cabinet input.file:hover {
	cursor: pointer;
}


.info {
	display: none;
}

.support {
	background-repeat: no-repeat;
	display: block;
	position: relative;
	top: -20px;
	left: 0;
	padding: 5px 10px;
	-webkit-box-shadow: #454545 0px 0 30px 1px;
	-moz-box-shadow: #454545 0 0 30px 1px;
	z-index: -10;
	background: #fff;
	text-align: center;
	float: left;

	width: 220px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
		
	background: #aee239;
	border-top: none;
}

.support span {
	float: left;
	position: relative;
	top: 15px;
	left: 0px;
	margin-right: 10px;
}
.icon {
	background-image: url(images/spritesheet.png);
	background-repeat: no-repeat;	
	clear: none;
	margin: auto 0;
	float: left;
}
.chrome_48x48 {
background-position: -0px -0px;
background-image: url(images/spritesheet.png);
background-repeat: no-repeat;
width: 48px;
height: 48px;
}

.safari_32x32 {
background-position: -64px -0px;
background-image: url(images/spritesheet.png);
background-repeat: no-repeat;
width: 32px;
height: 32px;
position: relative;
top: 10px;
	left: -0px;
}

.firefox_32x32 {
background-position: -96px -0px;
background-image: url(images/spritesheet.png);
background-repeat: no-repeat;
width: 32px;
height: 32px;
	position: relative;
	top: 10px;
	left: 0px;
}

.fb-like {
	padding: 0;
	margin: 0;
	top: 0;
	left: 260px;
	position: absolute;
}